.education-entry {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  margin: 1.5rem 0;
}

.row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1.5rem;
}

.left {
  text-align: left;
}

.right {
  flex-shrink: 0;
  text-align: right;
}

.entry-detail {
  font-size: 0.9375rem;
  line-height: 1.35;
}
