/* * {
  border: 1px solid red;
} */
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
  margin-right: 1.5em;

  margin-top: 10vh;
  min-width: 22em;
  max-width: 22em;
}

@media (min-width: 1025px) {
  .app {
    margin-top: 20vh;
    max-width: 28em;
    min-width: 28em;
  }
}

h1 {
  margin: 0.25em;
  font-weight: bold;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

.navbar {
  padding-top: 0.2em;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.navbar-left {
  display: flex;
  gap: 0.5em;
}

.navbar-right {
  display: flex;
  gap: 0.5em;
}

nav a {
  text-decoration: none;
  font-weight: 300;
  margin-top: 0;
  font-size: large;
  transition: font-weight 0.1s ease-in-out;
}

nav a.active {
  font-weight: 700;
}

nav a:hover {
  font-weight: 700;
}

nav a:link,
nav a:visited {
  color: black;
}

.icon {
  margin-top: 0.1em;
  width: 1em;
  height: 1em;
  transition: width 0.1s ease-in-out;
}

.icon:hover {
  width: 1.1em;
}
