@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

:root {
  --background-color: rgb(244, 244, 244);

  font-family: "Figtree", "Open Sans", "Helvetica Neue", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: var(--background-color);
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.025) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.025) 1px, transparent 1px);
  background-size: 24px 24px;
  background-position: center top;
}
